*{
    color: #4A4A4A;
    font-size: 14px;
}
.btn-primary{
    background-color: #0064DE;
}
/* banner */
.carousel-inner .item img{
    height: 100%;
    width: 100%
}
.carousel-control.left,.carousel-control.right {
    background-image: unset
}
.banner-text{
    position: absolute;
    top: 40%;
    z-index: 1;
    width: 25%;
    left: 15%;
    color: #4A4A4A;
}
.banner-text .title{
    font-size: 30px;
}
.banner-text .smalltitle{
    font-size: 14px;
}
.banner-text .btn-primary{
    border-radius:15px;
    margin-top: 20px;
}
@media (max-width : 992px){
    .banner-text .title{
        font-size: 14px;
    }
    .banner-text .smalltitle{
        display: none;
    }
    .banner-text {
        top: 45%;
        width: 50%;
        left: 9%;
    }
    .banner-text .btn-primary{
        margin-top: 0;
    }
}
/* 导航条 */
header{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}
.navbar-brand{
    padding: 0
}
.nav {
    padding-left: 10%;
}
.nav > li > a {
    padding: 20px 30px;
}
.navbar-default {
    background-color:unset;
    border-color: unset;
    border:unset
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #0064DE;
    background-color: unset;
}
.nav.navbar-nav li{
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0064DE;;
    background-color: transparent;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}
.navbar-nav .dropdown:hover > ul{
    opacity: 1;
    visibility: visible;
    display: block !important;
}
.dropdown-menu {
    min-width: 100px;
    padding: 15px 0;
}
.dropdown #animate li + li{
    margin-top: 10px;
}
/* 包裹服务 */
h2{
    font-size:24px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(74,74,74,1);
    line-height:33px;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
}
.server .col-md-4{
    text-align: center;
}
.server .col-md-4 img{
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 12px 1px rgba(0,100,222,0.2);
    border-radius:12px;
    width: 100%;
}
/* 最新资讯 */
.newstitle{
    margin-top: 50px;
}
.news .col-md-7.left .row , .news .col-md-5.right .row{
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 12px 1px rgba(0,100,222,0.2);
    border-radius:12px;
}
.news .left .row{
    margin: 0;
}
.news .left .col-md-8{
    text-align: center;
    height: 100%;
}
.news .left .col-md-8 img{
    padding: 5%;
    width: 100%;
    height: 100%;
}
.news .left .col-md-4{
    margin-top: 10%;
}
.news-title{
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}
.right .row{
    padding: 20px 0;
    margin: 0
}
.news .right .row+.row{
    margin-top: 20px;
}
.news .right .col-md-4{
    padding-top: 5%
}
.news .right .col-md-4 img{
    width: 100%
}
.news .right p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
@media(min-width : 992px){
    .news .left .row{
        height: 380px;
    }
    .news .right .row{
        height: 180px;
    }
    
}
@media (max-width : 992px){
    .left .col-md-7 img{
        padding: 0;
    }
    h2{
        padding: 0;
    }
    .server .col-md-4:last-child{
        margin-top: 20px;
    }
    .news .right{
        margin-top: 20px;
    }
    .news .right{
        margin-top: 20px;
    }
}
.hezuo .col-sm-6 img{
    width: 100%
}
.hezuo{
    margin-bottom: 50px;
}
 /* 底部栏 */
 .page-footer{
    padding-top: 44px;
    padding-bottom: 44px;
    width: 100%;
    background-color: #0064DE;
 }
 .page-footer p{
    color: #fff;
    font-size: 16px;
 }
 .foot-head {
    font-weight: 600;
    margin: 10px 0;
}
.eqcode{
    float: right;
    text-align: center;
}
.copyright {
    border-top: 1px solid #979797;
    padding-top: 10px;
}
/* 服务内容页面 */
.service{
    margin-top: 50px;
}
.service .text{
    text-align: left;
    font-size: 60px;
    font-weight: 400
}
.service .col-md-11 p{
    font-size: 24px;
    text-align: left;
    margin-top: 10px;
}
.service .step1 img{
    width: 80%;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 12px 1px rgba(0,100,222,0.2);
    border-radius:12px;
}
.service .step1 .col-md-6:first-child{
    text-align: left;
}
.service .step1 .col-md-6:last-child{
    text-align: right;
}
.service .step1 .col-md-6:last-child p{
    margin-left: 20%;
}
.service .step1 .col-md-6 p{
    text-align: center;
    width: 80%;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.service .col-md-11 .little{
    font-size: 14px;
    width: 50%;
}
.service .col-md-11 .row{
    margin-top: 50px;
}
.service .step2{
    margin-top: 50px;
}
.service .step3{
    margin-top: 50px;
}
.service .step2 img , .service .step3 img{
    width: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 12px 1px rgba(0,100,222,0.2);
    border-radius:12px;
}
.footbanner img{
    width: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 12px 1px rgba(0,100,222,0.2);
    border-radius:12px;
}
.step4{
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (max-width : 992px){
    .service{
        margin-top: 20px;
    }
    .service .col-md-11 .little{
        width: 100%;
    }
    .service .step1 img{
        width: 100%;
    }
    .service .step1 .col-md-6:last-child p{
        margin-left: 0;
    }
    .service .step1 .col-md-6 p{
        text-align: center;
        width: 100%;
    }
    .service .step2,.service .step3{
        margin-top: 20px;
    }
    .step4{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* 关注小易 */
.follow{
    margin-top: 200px;
}
.follow .title{
    font-size:24px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    margin-bottom: 40px;
}
.follow div{
    font-size: 18px;
}
.follow p{
    font-size: 18px;
}
.circle{
    width:12px;
    height:12px;
    background:rgba(106,106,106,1);
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.follow img{
    padding: 20px 0;
    margin-bottom: 50px;
}
.follow .step2{
    margin-top: 50px;
    margin-bottom: 50px;
}
.follow .little{
    font-size: 14px;
    margin-bottom: 200px;
}
.follow_big img{
    width: 70%;
    margin-left: 30%;
    margin-top: -20%;
}
@media (max-width : 992px){
    .follow_big img{
        width: 100%;
        margin: 0
    }
}
@media (max-width : 768px){
    .follow{
        margin-top: 50px;
    }
    .follow .little{
        margin-bottom: 20px;
    }
}