*{
    color: #4A4A4A;
    font-size: 14px;
}
.btn-primary{
    background-color: #0064DE;
}
/* banner */
.carousel-inner .item img{
    height: 100%;
    width: 100%
}
.carousel-control.left,.carousel-control.right {
    background-image: unset
}
.banner-text{
    position: absolute;
    top: 40%;
    z-index: 1;
    width: 25%;
    left: 15%;
    color: #4A4A4A;
}
.banner-text .title{
    font-size: 30px;
}
.banner-text .smalltitle{
    font-size: 14px;
}
@media only screen
and (max-device-width : 767px){
    .banner-text .title{
        font-size: 14px;
    }
    .banner-text .smalltitle{
        display: none;
    }
    .banner-text {
        top: 45%;
        width: 50%;
        left: 9%;
    }
    .banner-text .btn-primary{
        margin-top: 0;
    }
}
.banner-text .btn-primary{
    border-radius:15px;
    margin-top: 20px;
}
/* 导航条 */
header{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}
.navbar-brand{
    padding: 0
}
.nav {
    padding-left: 10%;
}
.nav > li > a {
    padding: 20px 30px;
}
.navbar-default {
    background-color:unset;
    border-color: unset;
    border:unset
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #0064DE;
    background-color: unset;
}
.nav.navbar-nav li{
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0064DE;;
    background-color: transparent;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}
.navbar-nav .dropdown:hover > ul{
    opacity: 1;
    visibility: visible;
    display: block !important;
}
.dropdown-menu {
    min-width: 100px;
    padding: 15px 0;
}
.dropdown #animate li + li{
    margin-top: 10px;
}